/* CodeQ: an online programming tutor.
   Copyright (C) 2015,2016 UL FRI

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>. */

/*
    We use http://getbootstrap.com/ for ground HTML and CSS styling. RTFM!
    General settings apply to all resolutions.
    Put special viewport size settings inside @media queries.
*/

/* override bootcrap’s fixed fonts */
html {
    font-family: sans-serif;
    font-size: medium;
}
body {
    font-size: 1em;
}

/* code text style */
.code, code, pre {
    font-family: monospace;
}
code {
    background-color: #f4f2f9;
    color: #1525c6;
    padding: 0.1em 0.2em;
}
pre {
    padding: 0.5em 1em;
}

.btn {
    font-size: 1em;
    height: 2em;
    line-height: 1em;
}

div#topbar {
    border-bottom-style: 1px solid black;
    min-height: 3em;
}

div#content {
	overflow: auto;
	position: absolute;
	top: 3em;
	bottom: 0;
	left: 0;
	right: 0;
}

div.container-fluid {
    padding: 0;
}

div.container-fluid > div.navbar-header,
div.container-fluid > div.navbar-collapse {
    margin: 0;
}

div.navbar-collapse {
    padding: 0;
}

button.navbar-toggle {
    line-height: 1em;  /* line-height + 2*(margin + padding) = topbar.min-height */
    margin: 0.5em;
    padding: 0.5em;
    border-style: none;
}

div.navbar-header > a > img {
    height: 3em;  /* height = topbar.min-height */
    width: auto;
    float: left;
    padding: 0.6em 1em;
}

.navbar-nav {
    margin: 0;
}

.navbar-nav > li > a {
    line-height: 1em; /* line-height + 2*padding = topbar.min-height */
    padding: 1em;
}

p.navbar-text {
    line-height: 1em; /* line-height + 2*margin = topbar.min-height */
    margin: 1em;
}

button.navbar-toggle > span.glyphicon {
    color: #888;
}

div.row {
    height: 100%;
    margin: 0;
}

/* system message */
div#message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.25em 0.5em;
    z-index: 999;
}
div#message.error {
    background-color: #ffbfbf;
    border-top: 1px solid #ff4040;
}
div#message > span.close {
    font-weight: normal;
    opacity: 0.5;
    text-shadow: none;
}
div#message > span.close:hover {
    opacity: 0.75;
}

/* misc */
form {
    margin-bottom: 0;
}

form .error {
    color: red;
}

form .success {
    color: green;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
}

div#disabled {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: wait;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* modal screens*/
#screen-login, #screen-signup, #screen-change-password, #screen-settings {
    padding: 1em 0;
}

/* screen language */
#screen-language {
    margin-top: 4em;
    margin-bottom: 4em;
}
#screen-language .col-lg-6 a {
    color: inherit;
    text-decoration: none;
}

/* screen about*/
.about-logos {
    text-align: center;
    height: 6em;
    margin: 1em 0 1em 0;
}

.about-logos div {
    height: 100%; /* set on element if more logos in line */
    display: inline-block;
    position: relative;
}

.about-logos div img {
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    position: absolute;
}

div.vertical-line{
    height: 100%;
    width: 0px;
    border: 0;
    border-left: 1px solid #eee;
    margin: 0 1% 0 1%;
}

/* screen problems */
.block {
    padding: 0;
    min-height: 4em;
    overflow: hidden;
}

/* screen problem-list */
#screen-problem-list .language-description {
    margin-bottom: 1em;
}

#screen-problem-list .group-description {
    margin-bottom: 0.5em;
}

#screen-problem-list h2.group-title {
    font-size: 1.4em;
    font-weight: bold;
}

#screen-problem-list h2.group-title a.view-solutions {
    font-size: small;
}

#screen-problem-list ul.group-problems {
    padding-left: 1em;
}

#screen-problem-list ul.group-problems li {
    list-style-type: none;
}

#screen-problem-list ul.group-problems a::before {
    color: gray;
    content: '○  ';  /* non-breaking spaces */
}
#screen-problem-list ul.group-problems a.attempted::before {
    color: #e4c13b;
    content: '●  ';  /* non-breaking spaces */
}
#screen-problem-list ul.group-problems a.solved::before {
    color: #5baa5b;
    content: '●  ';  /* non-breaking spaces */
}

div#content div.container-fluid {
    height: 100%;
}

/* description */
.block-left {
    padding-left: 1em;
    padding-right: 1em;
}

.description-container {
    padding-bottom: 1em;
}

.description-container > h1 {
    font-size: 1.3em;
    font-weight: bold;
}

.block-editor  {
    padding-top: 3em; /* padding-top = 2*.toolbar.padding + .btn.height */
    padding-bottom: 1.5em; /* padding-bottom = .statusbar.height */
}

.block-editor > .code-editor {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}

.block-editor > .toolbar {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background-color: #F7F7F7;
    padding: 0.5em;
}

.block-editor > .statusbar {
    height: 1.5em;
    line-height: 1em;
    padding: 0.25em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F7F7F7;
    opacity: .7;
    text-align: left;
}

.CodeMirror {
    height: auto;
}

.CodeMirror-scroll {
    height: auto;
    min-height: 6em;
}

.CodeMirror.disabled {
    opacity: 0.75;
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #0a0;
}

/* console */
.block > .console {
    background: #222;
    padding: 0.5em;
    min-height: 8em;
}

.block-label {
    color: grey;
    position: absolute;
    z-index: 60;
    opacity: .7;
    right: 0.75em;
    bottom: 0;
    margin: 0;
    width: 150px;
    text-transform: uppercase;
    text-align: right;
}

/***** responsiveness *****/
/* md & ld */
@media (min-width: 992px) {

    /* BEGIN layouts */
    /*~~ line-layout ~~*/
    .quadrants.line-layout > * > .block {
        overflow: auto;
        min-height: 100%; height: 100%;
    }
    .line-layout .block.block-editor {
        min-height: 100%; height: 100%;
        min-width: 50%; width: 50%;
    }
    .line-layout .block.block-console {
        min-height: 100%; height: 100%;
        min-width: 50%; width: 50%;
    }

    /*~~ square-layout ~~*/
    .quadrants.square-layout > * > .block:not(.block-left):not(.block-right) {/*the not-s are important here, because else the height of the surrounding divs will be set to 50% and the entire page will only be for half the screen*/
        overflow: auto;
        min-height: 50%; height: 50%;
    }
    .quadrants.square-layout#screen-prolog > * > .block,
    .quadrants.square-layout#screen-python > * > .block {
        overflow: auto;
        min-height: 100%; height: 100%;
    }
    /* instructions+hints */
    .square-layout .block-left {
        min-width: 33%; width: 33%;
    }
    /* editor + console */
    .square-layout .block-right {
        min-width: 67%; width: 67%;
    }
    .square-layout .block.block-editor {
        min-height: 50%; height: 50%;
        min-width: 100%; width: 100%;
    }
    .square-layout .block.block-console {
        min-height: 50%; height: 50%;
        min-width: 100%; width: 100%;
    }
    /* END layouts */

    .block-left, .block-right {
        min-height: 100%; height: 100%;
    }

    .block-left {
        border-right: 1px solid #ddd;
    }

    .block-editor > .code-editor {
        min-height: 100%;
        height: 100%;
    }

    .block-console > .console {
        height: 100%;
        overflow-y: auto;
    }

    .CodeMirror {
        height: 100%;
    }

    .CodeMirror-scroll {
        height: 100%;
    }
}

/* xs & sm */
@media (max-width: 991px) {
    /*layout selection is  disable on small screens*/
    #settings-layout-group {
        display: none;
    }
}

/***** helpers *****/
/** webkit-scrollbar 2**/
::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track:hover {
    background: #F5F5F5;
}
::-webkit-scrollbar-track:active {
    background: #F5F5F5;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.7);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0,0.9);
}

/** special webkit-scrollbar for console **/
/* Track */
.console::-webkit-scrollbar-track {
    background-color: #0b0b0b;
}
.console::-webkit-scrollbar-track:hover {
    background: #0b0b0b;
}
.console::-webkit-scrollbar-track:active {
    background: #0b0b0b;
}
/* Handle */
.console::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.5);
}
.console::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.7);;
}
.console::-webkit-scrollbar-thumb:active {
    background: rgba(255,255,255,0.9);;
}
