/* CodeQ: an online programming tutor.
   Copyright (C) 2015,2016 UL FRI

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>. */

.cq-con {
    color: greenyellow;
    font-family: "Courier Menlo", Monaco, Consolas, "Courier New", monospace;
    word-break: break-all;
}
.cq-con-line {
    white-space: pre-wrap;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    color: inherit;
    line-height: normal;
    margin: 0;
    padding: 0;
}
.cq-con-text {
}
.cq-con-text.input {
    color: #a6e1ec;
}
.cq-con-text.error {
    color: #d9534f;
}
.cq-con-cursor.inverted {
    color: #222;
    background: #a6e1ec;
}
