/* CodeQ: an online programming tutor.
   Copyright (C) 2015-2017 UL FRI

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU Affero General Public License as published by the Free
Software Foundation, either version 3 of the License, or (at your option) any
later version.

This program is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>. */

a.hint-static-link {
    cursor: pointer;
}

div.hint-static img {
    max-height: 12em;
    max-width: 80%;
    /* center img trick */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.hints > div.feedback {
    border-top: 1px solid #ddd;
    margin: 0.5em 0 1.5em;
    padding: 0 0.75em;
    position: relative;
    opacity: 0.75;
}
div.hints > div.feedback:first-child {
    border-top: 1px solid gray;
    opacity: 1;
}
div.hints > div.feedback:hover {
    opacity: 1;
}
div.hints > div.feedback > button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

div.hints > div.feedback > div {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.popup-hint > :last-child {
    margin-bottom: 0;
}

/* the highlighted part of the text, used in pop-up and drop-down hints */
.editor-mark.highlight {
    background-color: #ffebeb;
    color: red;
    text-decoration: dotted underline;
}

.editor-mark.insert {
    background-color: #a0d850; /* fallback if gradients are not supported */
    background: linear-gradient(to right, #a0d850, transparent);
    border-bottom: 1px solid #70a820;
    border-left: 1px solid #70a820;
}

.editor-mark.remove {
    background-color: #ffbb99;
    border-bottom: 1px solid #cf8b69;
}

.editor-mark.change {
    background-color: #f4dd32;
    border-bottom: 1px solid #c4ad02;
}
